<title><%- title %></title>
<link rel="icon" href="/logos/logoMain.svg">
<link rel="stylesheet" href="/css/gameTransfer.css">
<body>
<%- include('../admin/adminMain.ejs') %>
<div class="transferBody">
    <div class="gameCardBody">
        <form action="/create_game_acc_for_users" method="post">
            <div class="imgBody">
                <img src="/gameLogos/lotus.png" width="100" alt="lotus">
            </div>
            <div class="gameInputs">
                <input type="hidden" name="gameName" value="LOTUS">

                <label for="username">Game username</label>
                <input type="text" name="username" id="username" required>

                <label for="password">Game password</label>
                <input type="text" name="password" id="password" required>

                <label for="holderEmail">Holder email</label>
                <input type="email" name="holderEmail" id="holderEmail" required>

                <label for="amount">Amount</label>
                <input type="number" name="amount" id="amount" required>

                <button type="submit" class="create">Create</button>
            </div>
        </form>
    </div>
    <div class="gameCardBody">
        <form action="/create_game_acc_for_users" method="post">
            <div class="imgBody">
                <img src="/gameLogos/tenexch.png" width="82" alt="tenexch">
            </div>
            <div class="gameInputs">
                <input type="hidden" name="gameName" value="TENEXCH">

                <label for="username">Game username</label>
                <input type="text" name="username" id="username" required>

                <label for="password">Game password</label>
                <input type="text" name="password" id="password" required>

                <label for="holderEmail">Holder email</label>
                <input type="email" name="holderEmail" id="holderEmail" required>

                <label for="amount">Amount</label>
                <input type="number" name="amount" id="amount" required>

                <button type="submit" class="create">Create</button>
            </div>


        </form>
    </div>
    <div class="gameCardBody">
        <form action="/create_game_acc_for_users" method="post">
            <div class="imgBody">
                <img src="/gameLogos/upexch.png" width="130" alt="upexch">
            </div>
            <div class="gameInputs">
                <input type="hidden" name="gameName" value="UPEXCH">

                <label for="username">Game username</label>
                <input type="text" name="username" id="username" required>

                <label for="password">Game password</label>
                <input type="text" name="password" id="password" required>

                <label for="holderEmail">Holder email</label>
                <input type="email" name="holderEmail" id="holderEmail" required>

                <label for="amount">Amount</label>
                <input type="number" name="amount" id="amount" required>

                <button type="submit" class="create">Create</button>
            </div>


        </form>
    </div>
    <div class="gameCardBody">
        <form action="/create_game_acc_for_users" method="post">
            <div class="imgBody">
                <img src="/gameLogos/world.png" width="100" alt="world">
            </div>
            <div class="gameInputs">
                <input type="hidden" name="gameName" value="WORLD">

                <label for="username">Game username</label>
                <input type="text" name="username" id="username" required>

                <label for="password">Game password</label>
                <input type="text" name="password" id="password" required>

                <label for="holderEmail">Holder email</label>
                <input type="email" name="holderEmail" id="holderEmail" required>

                <label for="amount">Amount</label>
                <input type="number" name="amount" id="amount" required>

                <button type="submit" class="create">Create</button>
            </div>


        </form>
    </div>
    <div class="gameCardBody">
        <form action="/create_game_acc_for_users" method="post">
            <div class="imgBody">
                <img src="/gameLogos/god777.png" width="100" alt="god777">
            </div>
            <div class="gameInputs">
                <input type="hidden" name="gameName" value="GOD777">

                <label for="username">Game username</label>
                <input type="text" name="username" id="username" required>

                <label for="password">Game password</label>
                <input type="text" name="password" id="password" required>

                <label for="holderEmail">Holder email</label>
                <input type="email" name="holderEmail" id="holderEmail" required>

                <label for="amount">Amount</label>
                <input type="number" name="amount" id="amount" required>

                <button type="submit" class="create">Create</button>
            </div>


        </form>
    </div>
    <div class="gameCardBody">
        <form action="/create_game_acc_for_users" method="post">
            <div class="imgBody">
                <img src="/gameLogos/diamond.png" width="100" alt="diamond">
            </div>
            <div class="gameInputs">
                <input type="hidden" name="gameName" value="DIAMOND">

                <label for="username">Game username</label>
                <input type="text" name="username" id="username" required>

                <label for="password">Game password</label>
                <input type="text" name="password" id="password" required>

                <label for="holderEmail">Holder email</label>
                <input type="email" name="holderEmail" id="holderEmail" required>

                <label for="amount">Amount</label>
                <input type="number" name="amount" id="amount" required>

                <button type="submit" class="create">Create</button>
            </div>


        </form>
    </div>
    <div class="gameCardBody">
        <form action="/create_game_acc_for_users" method="post">
            <div class="imgBody">
                <img src="/gameLogos/taj777.png" width="100" alt="taj777">
            </div>
            <div class="gameInputs">
                <input type="hidden" name="gameName" value="TAJ777">

                <label for="username">Game username</label>
                <input type="text" name="username" id="username" required>

                <label for="password">Game password</label>
                <input type="text" name="password" id="password" required>

                <label for="holderEmail">Holder email</label>
                <input type="email" name="holderEmail" id="holderEmail" required>

                <label for="amount">Amount</label>
                <input type="number" name="amount" id="amount" required>

                <button type="submit" class="create">Create</button>
            </div>


        </form>
    </div>
    <div class="gameCardBody">
        <form action="/create_game_acc_for_users" method="post">
            <div class="imgBody">
                <img src="/gameLogos/lords.png" width="100" alt="lords">
            </div>
            <div class="gameInputs">
                <input type="hidden" name="gameName" value="LORDS">

                <label for="username">Game username</label>
                <input type="text" name="username" id="username" required>

                <label for="password">Game password</label>
                <input type="text" name="password" id="password" required>

                <label for="holderEmail">Holder email</label>
                <input type="email" name="holderEmail" id="holderEmail" required>

                <label for="amount">Amount</label>
                <input type="number" name="amount" id="amount" required>

                <button type="submit" class="create">Create</button>
            </div>
        </form>
    </div>
    <input type="hidden" id="error" value="<%- error%>">
    <input type="hidden" value="<%- message%>" id="msg">
    <script>
        let errMsg = document.getElementById('error')
        let msg = document.getElementById('msg')
        if(errMsg.value === 'error'){
            alert(msg.value)
        }else if(errMsg.value === 'no'){
            alert(msg.value)
        }
    </script>
</div>
</body>