<title><%- title%></title>
<link rel="stylesheet" href="/css/findAdminEmail.css">
<link rel="icon" href="/logos/logoMain.svg">
<body>
<div class="admin_log_body">
    <h3 class="title"><%- title%></h3>
    <p><%- msg%></p>
    <form method="post" action="/admin_dashboard">
        <input type="hidden" name="verifyId" value="<%- verifyId%>">
        <label for="password"></label>
        <input type="password" name="password" id="password" placeholder="Password" required><br>

        <input type="submit" class="submit" value="Submit">
    </form>
</div>
</body>