<title><%- title%></title>
<link rel="icon" href="/logos/logoMain.svg">
<link rel="stylesheet" href="/css/welcome.css">
<%- include('../admin/adminMain.ejs')%>
<body id="body">
<div class="mainImg">
</div>
</body>